html {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-image: url("../img/Background.jpg");
}

header {
    background-color: black;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
    z-index: 1;

    #logoleft {
        float: left;
        padding-left: 10px;
    
        img {
            height: 50px;
            padding-top: 5px;
        }
    }

    #logoright {
        float: right;
        padding-right: 10px;
    
        img {
            height: 40px;
            padding-top: 10px;
        }
    }
}


section {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    input{
        width: 115px;
        height: 20px;
    }
    #submit{
        height: 30px;
        border-radius: 10px;
        border-color: black;
        background-color: gold;
    }
    td{
        width: 20px
    }
}

#list{
    td{
        border-style: solid;
        border-width: 1px;
    }
    th{
        background-color: gold;
    }
}

#sum{
    td{
        border-style: solid;
        border-width: 1px;
        background-color: gold;
    }
}

