html {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background: url(./img/Background.jpg);
    background-size: 100%;
}
header{
    background-color: black;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
    z-index: 1;
}

#logo{
    float: left;
    padding-left: 10px;
}

#namelogo{
    float: right;
    padding-right: 10px;
}

#logo img{
    height: 50px;
    padding-top: 5px;
}

#namelogo img{
    height: 40px;
    padding-top: 10px;
}

section{
    margin: 70px auto 0 auto;
}

#sum td{
    border: 1px solid black;
    background-color: yellow;
}

#site{
    float: left;
}

#list tr{
    border: 1px solid black;  
    border-collapse: collapse;
}

